{% extends "Layout/PublicLayout.twig" %}
{% block content %}
	<main class='complete_order'>
		<span>Thank you for your order.</span>
		<a href="/make-up/main">Continue shopping</a>
	</main>
{% endblock %}
