.header {
    font-size: 13px;
}

.header .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282828;
    padding: 0px 40px;
}

.header .top span {
    color: #fff;
    width: 200px;
    display: flex;
}

.header .top span:last-child {
    justify-content: end;
}

.header .top span:first-child {
    justify-content: start;
}

.header .top ul {
    margin: 0px;
    display: flex;
}

.header .top ul li:first-child {
    background-color: #f6255a;
}

.header .top ul li a {
    text-decoration: none;
    padding: 0px 10px;
    color: #fff;
}

.header .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.header .bottom img {
    width: 250px;
    object-fit: cover;
}

.bottom_left {
    width: 250px;
}

.bottom_left a {
    color: #792c9b;
    text-decoration: none;
}

.bottom_left p {
    color: #666666;
    margin: 5px 0px;
    font-weight: 300;
}

.bottom_right {
    display: flex;
    flex-direction: column;
}

.user_auth, .cart {
    justify-content: end;
    display: flex;
    margin-right: 6px;
}

.user_auth a {
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 500;
    color: #282828;
}

.auth_block {
    align-items: center;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

.bottom_right span {
    font-size: 26px;
    margin-left: 10px;
    font-weight: 500;
    color: #333;
}

.bottom_right span:hover, .bottom_right a:hover {
    cursor: pointer;
    color: #792c9b;
    transition: color 0.5s;
}

.logout, .login {
    display: flex;
    align-items: center;
}

.cart {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.cart span {
    cursor: pointer;
    color: #333;
    transition: color 0.5s;
    margin-right: 5px;
    font-weight: 500;
}

.cart span:hover {
    color: #792c9b;
    transition: color 0.5s;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
}

body {
    background-color: #fff;
}

body li, body p, body span, body h1, body h2, body h3, body h4, body h5, body h6, body button, body a, body div {
    color: #333;
    font-weight: 400;
}

body button {
    background: #792c9b;
    cursor: pointer;
    outline: 0;
    border: none;
    position: relative;
    overflow: hidden;
    margin: 4px 1px;
    color: #fff;
    font-size: 9px;
    padding: 8px 30px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.4px;
}

body .storeContainer {
    padding: 0px 40px;
}

body .label {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin: 20px 0 48px;
}

ul {
    list-style: none;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 12px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 95vh;
}

.styleAdmin {
    color: #1e1e28;
}

.notFound {
    font-size: 50px;
}

.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 90px;
    color: black;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    position: relative;
}

.menu ul::after {
    content: "";
    position: absolute;
    background-color: #282828;
    height: 2px;
    width: 100%;
    bottom: -15px;
}

.menu ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 400;
    transition: color 0.3s;
}

.menu ul li a:hover {
    color: #792c9b;
    transition: color 0.3s;
}

.carousel img {
    width: 94.5vw;
    margin-top: 40px;
    object-fit: cover;
}

.block_sort {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}

.container {
    padding: 40px;
}

.main_page {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.main_page .catalog {
    width: 74vw;
    object-fit: cover;
}

.page_title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 60px;
    font-size: 24px;
    text-transform: uppercase;
    word-spacing: 20px;
    font-weight: 300 !important;
}

.carousel img {
    width: 94.5vw;
    margin-top: 40px;
    object-fit: cover;
}

.block_sort {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}

.products {
    margin: 50px 0px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.product {
    background-color: #fff;
    text-decoration: none;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 25px 0px;
}

.product img {
    height: 20vh;
    object-fit: cover;
}

.product .info {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

.product .info h1 {
    letter-spacing: 0.6px;
    line-height: 1.5;
    color: #333;
    font-weight: 300;
    max-width: 80%;
    word-break: break-word;
    font-size: 15px;
}

.product .info p {
    margin: 0px;
}
.product .info button {
    cursor: pointer;
    position: absolute;
    padding: 10px 40px;
    font-size: 14px;
    display: none;
    left: 0px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    right: 0;
    bottom: -55px;
}

.product:hover {
    z-index: 100;
    box-shadow: 0px 0px 32px 2px rgba(3, 3, 3, 0.1);
    box-sizing: border-box;
    transition: box-shadow 0.5s;
    margin: -50px 0px;
    padding: 75px 30px;
}

.products .product:hover button {
    display: block;
    position: absolute;
    bottom: -60px;
}

 .product_page__bottom {
    margin: 50px 0px;
}

.product_description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.product_description .title {
    font-size: 24px;
    font-weight: 400;
    margin: 0 0 2px;
    line-height: 1.5;
    margin-bottom: 9px;
}

.product_page__top {
    padding: 50px 0px 30px;
    justify-content: space-between;
    margin: auto;
    display: flex;
    flex: 1 1 1;
}

.product_text {
    width: 25vw;
}

 .product_text div {
    margin-bottom: 15px;
}

 .title {
    font-size: 24px;
    font-weight: 300;
    margin: 0 0 2px;
    line-height: 1.5;
}

 .highlight {
    font-weight: 500;
    margin-right: 5px;
}

 .product_img {
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

 .product_img img {
    width: 19vw;
}

 .product_buy {
    width: 25vw;
}

 .product_buy div {
    margin-bottom: 15px;
}

.availability {
    color: #1bbc9b;
}

 .notAvailability {
    color: #f62459;
}

.button_notify {
    font-size: 12px;
    font-weight: 500;
    padding: 13px 60px;
    text-transform: uppercase;
    margin-bottom: 40px;
    margin-top: 10px;
}

.product_buy .price {
    font-size: 16px;
}

.icon_block {
    display: flex;
    align-items: center;
    text-align: center;
}

 .icon_block span {
    color: #792c9b;
    font-weight: 300;
    margin-right: 8px;
}

.search {
    display: flex;
    justify-content: center;
    position: relative;
}

.search label {
    display: none;
}

.search input {
    margin: 20px 0px;
    background-color: #f4f3f5;
    border-radius: 0px;
    border: 1px solid #cccccc;
    font-size: 11px;
    line-height: 32px;
    height: 32px;
    padding: 0 26px 0 11px;
    width: 250px;
}

.search button {
    position: absolute;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    top: 25px;
    right: 7px;
}

.search button span {
    color: #b1afb3;
    font-weight: 300;
    font-size: 21px;
}

.pageNavbar {
    margin: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.selectedPage, .navigationButton {
    margin: 0 8px;
    cursor: pointer;
    padding: 7px 5px;
    color: #333;
    font-weight: 800;
}

.selectedPageActive, .navigationButton:hover, .selectedPage:hover {
    color: #792c9b;
    border-bottom: 1px solid #792c9b;
}

.navigationPreventNone, .prevNone, .currentNone {
    display: none;
}

.sortProduct {
    width: 100%;
}

.sortProduct a {
    text-decoration: none;
    color: #333;
    margin: 0px 10px;
    font-weight: 400;
    cursor: pointer;
}

.sortProduct .sort {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.sortProduct .sort label {
    color: #333;
    margin: 0px 10px;
}

.sortProduct .sort .active {
    color: #792c9b;
}


.filters {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    position: relative;
    width: 100%;
}

.filters label, .filters span {
    color: #333;
}

.filters span {
    font-weight: 400;
    margin-bottom: 12px;
}

.filter_checkbox {
    display: flex;
    flex-direction: column;
}

 .filter_checkbox::after {
    content: " ";
    margin: 20px 0px;
    width: 17vw;
    height: 1px;
    background-color: #ebebeb;
}

.filter_checkbox label {
    margin: 5px 0px;
}

.filter_checkbox label input {
    color: #792c9b;
}

.filters .filter_checkbox {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.filters .filter_checkbox::after {
    content: " ";
    margin-top: 20px;
    width: 17vw;
    height: 1px;
    background-color: #ebebeb;
}

.filters .filter_checkbox .css-13cymwt-control {
    cursor: pointer;
    margin-top: 12px;
    border-radius: 0px;
    background-color: #f4f3f5;
    border: 1px solid #ccc;
    width: 17vw;
}

.filters .filter_checkbox .select__control--is-focused {
    margin-top: 12px;
    border-radius: 0px;
    background-color: #f4f3f5;
    border: 1px solid #ccc;
    width: 17vw;
}

.filters .filter_checkbox .select__menu {
    background-color: #f4f3f5;
}

.filters .filter_checkbox .select__menu .select__option {
    cursor: pointer;
    color: #333;
}

.filter_checkbox label {
    margin: 3px 0px;
}

.filter_checkbox input {
    padding: 2px 5px;
    font-size: 15px;
}

.block_range {
    display: flex;
}

.filters .filter_range {
    flex-direction: column;
    margin-bottom: 20px;
}

.filters .field_input {
    flex-direction: row;
    margin-bottom: 20px;
}

.filters .filter_range::after {
    content: " ";
    margin-top: 20px;
    width: 17vw;
    height: 1px;
    background-color: #ebebeb;
}

.filters .input_range {
    display: flex;
    text-align: center;
}

.filters .filter_range label {
    margin: 9px 0px 0px;
}

.filters .filter_range input {
    background-color: #f4f3f5;
    border: 1px solid #ccc;
    border-radius: 0px;
    height: 22px;
    width: 65px ;
    line-height: 26px;
    padding: 2px 5px;
    margin: 5px 6px 0px;
    font-size: 15px;
}

.filters .buttonFilter {
    height: 45px;
    width: 150px;
    padding: 10px;
    font-size: 13px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.error {
    color: #f4a3b5;
    width: 88%;
    text-align: end;
    font-weight: 300;
    font-size: 13px;
}

.fieldError {
    margin: 12px 0px 3px !important;
}

.fieldError input {
    border: 1px solid #ec240d !important;
}

.fieldError textarea {
    border: 1px solid #ec240d !important;
}

.field_input {
    display: flex;
}

.field_input input {
    display: block;
    height: 20px;
    padding: 0.5rem 0.7rem;
    font-size: 0.875rem;
    font-weight: 400;
    background-color: transparent;
    border-radius: 0.25rem;
    box-shadow: none;
}

.field_input input:focus {
    outline: 1px solid #2684FF;
}

.block_checkbox {
    display: block;
    max-height: 200px;
    overflow-y: auto;
}

.reset {
    text-decoration: none;
    margin-left: 8px;
    font-size: 14px;
}

.filters_apply {
    display: flex;
    align-items: center;
}

.complete_order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10vh;
}

.complete_order span {
    font-size: 30px;
}

.complete_order a {
    font-size: 15px;
    font-weight: 300;
    margin-top: 2vh;
}

.create_order {
    margin-top: 40px;
    border: 3px solid #f4f3f5;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    margin-bottom: 30px;
    position: relative;
}

.create_order .error {
    color: #b71c1c;
}

.create_order h5 {
    font-weight: 500 !important;
    margin: 15px 0px 5px;
    color: #782c9b !important;
}

.create_order .line {
    border-top: 1px solid #f4f3f5;
    width: 100%;
}

.create_order .order {
    width: 40%;
}

.block_totals {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    margin: 17px 0px;
}

.blocks_total {
    margin-top: 10px;
}

.total_price {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 17px 0px;
}

.create_order .order {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.checkout {
    display: flex;
    justify-content: end;
    align-items: end;
}

.checkout button {
    font-size: 12px;
    width: 200px;
    margin: 10px 0px 20px;
}

.product_items {
    max-height: calc(45vh);
}

.info_form {
    flex-direction: column;
    display: flex;
}

.field_input {
    margin: 10px 0px;
    flex-direction: column;
    justify-content: start;
}

.field_input label {
    display: block;
    color: #333;
    font-size: 16px;
    margin: 8px 5px;
    font-weight: 500;
}

.field_input input {
    width: 300px;
    font-size: 13px;
    height: 32px;
    padding: 0 10px;
    background-color: #f4f3f5;
    border: 1px solid #ccc;
}

.info_form {
    justify-content: space-between;
    width: 100%;
    flex-direction: row !important;
}

.block_total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6px 0;
}

.block_select__delivery select {
    width: 200px;
    background-color: #f4f3f5;
    border: 1px solid #ccc;
    font-size: 15px;
    height: 30px;
    color: #333;
    font-weight: 400;
}

.error {
    color: #b71c1c;
    font-size: 15px;
    height: 20px;
}
